<?xml version="1.0"?>
<config>
    <modules>
        <Mustafa_Checkout>
            <version>0.1.3</version>
        </Mustafa_Checkout>
    </modules>
    <global>
        <models>
            <Mustafa>
                <class>Mustafa_Checkout_Model</class>
            </Mustafa>
        </models>
            <events>
                <sales_order_place_after>
                    <observers>
                        <Mustafa_Checkout_Model_Observer>
                            <class>Mustafa_Checkout_Model_Observer</class>
                            <method>orderSms</method>
                            <type>singleton</type>
                        </Mustafa_Checkout_Model_Observer>
                    </observers>
                </sales_order_place_after>
            </events>
    </global>
</config>